@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme colors */
  --color-light: #fff;
  --color-primary-light: #f6f5f4;
  --color-dark: #000000;
  --color-primary-dark: #262626;

  /* Default theme (light) */
  --background: var(--color-light);
  --primary-background: var(--color-primary-light);
  --text-color: var(--color-dark);
  --text-color-secondary: var(--color-primary-dark);
}

.dark {
  /* Dark theme */
  --background: var(--color-dark);
  --primary-background: var(--color-primary-dark);
  --text-color: var(--color-light);
  --text-color-secondary: var(--color-primary-light);
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}